.rodape {
    background-color: var(--cor5);
    color: var(--cor1);
    font-size: 0.8rem;
    margin-top: 2rem;
    padding: 0.313rem;
    text-align: center;
}

.rodape__link {
    color: var(--cor1);
    font-weight: 700;
    text-decoration: none;
    transition: 0.25s;
}

.rodape__link:hover {
    color: var(--cor3);
    text-decoration: underline;
}