@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;800;900&display=swap');

:root {
    --cor1: #fff;
    --cor2: #b07dfb;
    --cor3: #8844ee;
    
    --fonte-padrao: 'Vollkorn', serif;
}

body {
    font-family: var(--fonte-padrao);
}