.anuncios { 
    display: flex;
    flex-direction: column;
    grid-area: anuncios;
    padding: 1.25rem;
    row-gap: 1.25rem;
}

.anuncios__imagem { 
    border-radius: 0.313rem;
    max-width: 100%;
    width: 95%;
}

@media screen and (min-width: 26rem) {
    .anuncios { 
        flex-direction: row;
        justify-content: space-between;
    }

    .anuncios__imagem { 
        width: 45%;
    }
}

@media screen and (min-width: 75rem) {
    .anuncios { 
        flex-direction: column;
        justify-content:flex-start;
        max-width: 230px;
        width: 100%;
    }

    .anuncios__imagem { 
        width: 100%;
    }
}