.nav {
    grid-area: nav;
    overflow-x: auto;
}

.nav__link {
    border-radius: 0.313rem;
    box-shadow: 0.313rem 0.313rem 0.938rem 0 #00000040;
    display: block;
    margin: 1.875rem;
    max-width: 6.25rem;
    min-width: 3.75rem;
    padding: 1.25rem;
    transition: 0.25s;
}

.nav__link:hover {
    background-color: var(--cor2);
}

.nav__lista {
    display: flex;
}

@media screen and (min-width: 47.5rem) {
    .nav__lista {
        flex-direction: column;
    }
}